#root {
    width: 100%;
}

body {
    background-color: rgba(242, 245, 255, 0.534);
}

.stopBtn {
    background-color: rgb(230, 3, 3);
    color: white;
}

h2 {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
}