.container {
    background-color: #F0EAD6;
    color: green;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 5px;
    border-radius: 3%;
    padding: 5px 8px;
    border-bottom: 10px solid rgb(65, 65, 46);
    max-height: 25rem;
    /* font-size: 20px; */
    overflow-y: scroll;
}

h2 {
    position: absolute;
    top: 15px;
}
.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btns {
    margin-left: 5%;
}
.listening {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: white;
    background-color: green;
    cursor: pointer;
    transition: border-color 0.25s;
    width: fit-content;
    border-radius: 5px;
    display: inline;
}
.altBtns{
    background-color: rgba(54, 7, 161, 0.726);
    color: white;
}