.container {
    background-color: beige;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    border-radius: 10%;
    padding: 5px 8px;
    border-bottom: 10px solid rgb(65, 65, 46);
    gap: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btns {
    margin-left: 5%;
}
