.container {
    background-color: #F0EAD6;
    color: green;
    width: 90%;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    border-radius: 3%;
    padding: 5px 8px;
    border-bottom: 10px solid rgb(65, 65, 46);
    max-height: 25rem;
    /* font-size: 20px; */
}

h2 {
    position: absolute;
    top: 15px;
}
.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btns {
    margin-left: 5%;
}

.altBtns {
    background-color: rgba(54, 7, 161, 0.726);
    /* border: 1px solid whitesmoke; */
}